* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(243, 213, 176);
}

.page {
  max-width: 1200px;
  align-items: center;
}

.banner {
  max-width: 1200px;
}

.header-menu {
  display: inline-flex;
  width: 1100px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.topheader {
  width: 1200px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.header-item {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 150px;
  text-align: center;
  font-size: 25px;
  color: rgb(223, 141, 41);
}

.banner {
  max-width: 1400px;
  margin-bottom: 100px;
  display: inline-flex;
}

.banner-content {
  max-width: 700px;
}

.banner-name {
  font-family: copperplate;
  font-size: 30px;
  color: rgb(223, 141, 41);
}

.banner-title {
  font-family: papyrus;
  font-size: 50px;
  color: rgb(173, 98, 6);
}

.banner-text {
  color: rgb(223, 141, 41);
  font-family: Arial, Helvetica, sans-serif;
}

.main-menu {
  width: 1200px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.hotpost {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.posttitle {
  color: rgb(223, 141, 41);
  margin-bottom: 25px;
}

.posttext {
  color: rgb(223, 141, 41);
  width: 700px;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 50px;
}

table,
tr,
th,
td {
  border-style: solid;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
}
.aside {
  padding: 10px 10px 10px 10px;
  color: rgb(223, 141, 41);
}

.asidetitle {
  font-size: 30px;
  margin-bottom: 20px;
  width: 200px;
}

.otherpost {
  display: inline-block;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 10px 10px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 327px;
  margin-right: 5px;
  overflow: hidden;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.otherposttitle {
  width: 200px;
  height: 100px;
  text-align: center;
  color: rgb(223, 141, 41);
  font-size: 25px;
}
.formlayout {
  display: flex;
  color: rgb(223, 141, 41);
  padding-bottom: 20px;
}

.footer {
  display: inline-flex;
  height: 200px;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
}
.footer-item {
  color: rgb(223, 141, 41);
  font-size: 25px;
  width: 150px;
  text-align: center;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 2px rgb(223, 141, 41) solid;
  border-radius: 5px;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 2px rgb(223, 141, 41) solid;
  border-radius: 7px;
}
